<h1>
	Contact_us@ziqquforge.com if you still have questions.
</h1>
<section class="dark-section">
	<div class="content">
		<h2>
			FAQ
		</h2>
		<ul id="faq-links">
			<li>
				<p>
					<a href="#faq-1">
						What will I get out of this?
					</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#faq-2">
						Who is a good fit?
					</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#faq-3">
						How much work is it?
					</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#faq-4">
						What if I don't agree with some of the feedback I get?
					</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#faq-5">
						Can I invite others to help me?
					</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#faq-1">
						What if I want a phone call or additional help?
					</a>
				</p>
			</li>
		</ul>
	</div>
</section>
<section>
	<div class="content">
		<ul id="faq-questions">
			<li>
				<h3 id="faq-1">
					What will I get out of this?
				</h3>
				<p>
					You will get a 4 weeks of structured feedback from an experienced startup mentor and a Ziqqu Forge profile that will keep track of all of your business model collaboration.
				</p>
				<h5>
					Use your refined business model to make stuff happen!
				</h5>
				<ul>
					<li>
						<p>
							Apply to startup accelerators/incubators:
						</p>
					</li>
					<li>
						<p>
							Pitch to investors or apply for a loan.
						</p>
					</li>
					<li>
						<p>
							Launch a minimum viable product.
						</p>
					</li>
					<li>
						<p>
							Attract partners and employees.
						</p>
					</li>
				</ul>
				<a href="#Top">
					<h6>back to top</h6>
				</a>
			</li>
			<li>
				<h3 id="faq-2">
					Who is a good fit?
				</h3>
				<p>
					Any startup from concept stage to $500k/yr in revenue that needs to take a hard look at their business model.
				</p>
				<a href="#Top">
					<h6>back to top</h6>
				</a>
			</li>
			<li>
				<h3 id="faq-3">
					How much work is it?
				</h3>
				<p>
					We suggest that you set aside at least 10 hours a week for research and brainstorming between mentorship sessions. 
					The mentor will review your business model twice a week, and you will be expected to have something new to show them each time. 
					Whether you want to simply reply to their comments, or do extensive research and pivot your plan based on their suggestions, the effort you put in between each review is up to you and what you need to get out of this. 
				</p>
				<a href="#Top">
					<h6>back to top</h6>
				</a>
			</li>
			<li>
				<h3 id="faq-4">
					What if I don't agree with some of the feedback I get?
				</h3>
				<p>
					Start a healthy debate! 
					Prove your point with evidence and a sound argument. 
					Helping you get to what's important is the mentors job, and hashing things out is an important part of the process. 
					However, if you ever feel like the quality of mentorship is not up to your standards, you can always cancel your membership and be refunded $62.50 for each week of leftover mentorship.
				</p>
				<a href="#Top">
					<h6>back to top</h6>
				</a>
			</li>
			<li>
				<h3 id="faq-5">
					Can I invite others to help me?
				</h3>
				<p>
					Yes, your whole founder team can collaborate! 
					Ziqqu Forge gives your business model an online profile that you can invite anyone to review.
				</p>
				<a href="#Top">
					<h6>back to top</h6>
				</a>
			</li>
			<li>
				<h3 id="faq-6">
					What if I want a phone call or additional help?
				</h3>
				<p>
					Fruition also offers other mentorship services such as phone consultation. 
					They even have an intense 3 month startup coaching program based on their <em><a href="http://fruitiontechlabs.com/fruition-technology-labs-process.html">5 Simple Steps to the Fruition Process ™</a></em>.
				</p>
				<a href="#Top">
					<h6>back to top</h6>
				</a>
			</li>
		</ul>
	</div>
</section>