<section class="dark-section">
	<div class="content">
		<h2>
			Preparation
		</h2>
		<h4>
			Breaking down your business model into its key elements.
		</h4>
		<p>
			Your first step will be to fill out a form with questions about your business. 
			We will use your answers to create a <a href="https://www.ziqquforge.com/">Ziqqu Forge</a> "story". 
			Each assertion of your business model will get its own webpage where you can attach evidence to back it up or comment on it. 
			We will help you get started using Ziqqu Forge, and from there you may add more to your business model to prepare it for your mentor's first review.
		</p>
		<h2>
			Initial Review
		</h2>
		<h4>
			An experienced startup mentor will throughly critique your business model.
		</h4>
		<p>
			This initial review costs $70 and availability is limited, <%= link_to "check here", get_started_path %> to see if we are currently accepting new startups. 
			After this review, we will offer entry to the full 4 week long Startup Soap mentorship program for $250.
		</p>
	</div>
</section>
<section>
	<div class="content">
		<h2>
			Intense Mentorship
		</h2>
		<h4>
			Mentors at Fruition will review your business model and respond to your questions twice a week.
		</h4>
		<p>
			This is the full 4 week Startup Soap mentorship program. 
			You'll let us know which days you want to be reviewed, and on those days your assigned mentor will go through your Ziqqu Forge profile and provide feedback. 
			This feedback will always be tailored to point out the strengths and weaknesses of your specific startup, but we generally structure our mentorship according the schedule below.
		</p>
		<ul>
			<li>
				<h6>
					Week 1: Define the Foundation
				</h6>
				<p>
					Gather evidence to support your business model and make sure you have a strong grasp of your industry. How do you know that your startup fits where the industry is heading?
				</p>
			</li>
			<li>
				<h6>
					Week 2: Create Value
				</h6>
				<p>
					Hone in on validating your value proposition. Do you understand what motivates your customers?
				</p>
			</li>
			<li>
				<h6>
					Week 3: Focus your Execution Plan
				</h6>
				<p>
					Find out how to execute the simplest version of your product/service that can generate revenue. What do you need to make your first sale or pre-sale?
				</p>
			</li>
			<li>
				<h6>
					Week 4: Evaluate your Pitch and Offering
				</h6>
				<p>
					Bring everything together into a clear, compelling pitch. What questions will you have to answer before an investor is ready to make a deal?
				</p>
			</li>
		</ul>
	</div>
</section>