<h1>Welcome to Startup Soap!</h1>

<p>To help you get off to a strong start, we need to first gather information on your current business model.</p>

<p>Please <a href="http://goo.gl/forms/iq50IQyl9I">click here</a> or enter the URL below into your browser, then fill out the form:<br>
<strong color='blue'>http://goo.gl/forms/iq50IQyl9I</strong></p>

<p>Don't stress about getting it perfect this first time, you'll have time to change your answers before the mentors will see them. We will use you answers to start a Ziqqu Forge profile for your startup, which is the tool our mentors use to review your business model. Feel free to respond to this email if you have any questions.</p>

<p>Sincerely,</p>

<p><em>Isaac Valadez</em><br>
<strong>CEO</strong><br>
Ziqqu LLC</p>