<h1>Thanks, we have recieved your payment!</h1>
<br>
<h2>Here's what happens next:</h2>
<ul id="next-steps">
	<li>
		<h4><em>Step 1:</em>&nbsp;&nbsp;&nbsp;&nbsp;You will be emailed a reciept and a welcome message with a link to a Google Form.</h4>
	</li>
	<li>
		<h4><em>Step 2:</em>&nbsp;&nbsp;&nbsp;&nbsp;After you submit the form, you will recieve an email invitation to create an account on Ziqqu Forge.</h4>
	</li>
	<li>
		<h4><em>Step 3:</em>&nbsp;&nbsp;&nbsp;&nbsp;Mentorships begins! You will recieve email notifications when they begin to share feedback.</h4>
	</li>
</ul>
