<footer>
	<div id="footer-wrapper">
		<ul>
      		<li><a href="mailto:contact_us@ziqquforge.com">contact_us@ziqquforge.com</a></li>
      		<li><a href="https://www.ziqquforge.com/privacy_policy.html">privacy policy</a></li>
      		<li>&copy 2015 Ziqqu LLC</li>
    	</ul>
    </div>
</footer>