<header>
	<div id='logo-wrapper'>
		<%= image_tag("logo.svg", :alt => "Logo for Startup Soap", :id => "logo") %>
	</div>
	<h1>Clean up your business model with a month of mentorship.</h1>
	<nav>
		<ul>
    		<a id="nav-link-how" href="#how"><li>How it works</li
    		></a><a id="nav-link-who" href="#who"><li>Who we are</li
    		></a><a id="nav-link-buy" href="#buy"><li>Get started</li></a>
    	</ul>
	</nav>
</header>